@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #fff;
  background-color: #0b3954;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: #ff7f11;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.card {
  background-color: #133b5c;
  border: 1px solid #ff7f11;
  border-radius: 10px;
  transition: 0.2s;
}

.pageHeader {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1b4965;
}

th {
  background-color: #ff7f11;
  color: #fff;
  letter-spacing: 1px;
}

td, th {
  padding: 0.75em;
  border: 1px solid #ff7f11;
  text-align: center;
}